@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    

:root {
    --search-font: 'Exo', sans-serif;
    --neon-font: 'Bungee Outline', cursive;
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(12, 2, 2, 0.863), rgba(8, 5, 5, 0.6)),url(/assets/images/dreamstime_m_ok.jpg);
    background-position: center;
    background-size: 100% 100%;
}

.sign {
    max-width: 100%;
    width: 100%;
    margin: auto;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro-text-1, #intro-text-2 {
    font-family: 'Bungee Outline', cursive;
    font-weight: bold;
    color: rgb(231, 231, 231);
    letter-spacing: 2px;
    word-spacing: 2px;
}

#intro-text-2 {
    /* font-size: 35px; */
    animation: flicker 6s infinite, shine 8s infinite, blink 2s infinite;
}

.arrow {
    position: absolute;
    height: 30px;
    width: 30px;
    display: block;
    transform: translateY(150px);
}

.arrow-el {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid rgb(253, 253, 253);
    border-right: 3px solid red;
    /* border: 3px solid red; */
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 1.5s infinite;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    min-height: 100vh;
    background-color: rgb(20, 7, 7);
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(/assets/images/background.png);
}

.search-container {
    background-color: rgb(0, 0, 0);
    height: 100px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.search-element {
    display: flex;
    /* align-items: stretch; */
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


.logo {
    display: block;
    transform: translateX(-600px);
    font-size: 40px;
    margin-top: 50px;
    font-family: var(--neon-font);
    font-weight: bolder;
    animation: flicker 6s infinite, shine 8s infinite, blink 2s infinite;
}

.search-element .search-input {
    padding: 1rem 2rem;
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(2, 0, 0);
    width: 350px;
    font-family: var(--search-font);
}

.search-item-info p{
    font-family: var(--search-font);
    font-size: 15px;
}

#search-input {
    border-radius: 5px;
}

.search-list {
    position: absolute;
    right: 100;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index:10;
}

.search-item-info h3 {
    font-weight: 500;
    font-family: var(--search-font);
    font-size: 20px;
    color:rgb(255, 115, 0);
}


.search-list-item {
    background-color: rgb(10, 5, 5);
    padding: 0.5rem;
    border-bottom: 1px solid rgb(44, 44, 44);
    width: 345px;
    color:rgb(250, 239, 239);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}

.search-list-item:hover {
    background-color: rgb(71, 0, 0);
    
}

.search-item-thumbnail img {
    max-width: 42px;
    margin-right: 25px;
    margin-top: 10px;
    border-radius: 3px;
}

.search-list::-webkit-scrollbar{
    width: 8px;
}

.search-list::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(27, 25, 25, 0.3);
}

.search-list::-webkit-scrollbar-thumb {
    background-color: rgb(140, 0, 255);
    outline: none;
    border-radius: 10px;
}

/* movie result */
.result-container {
    padding: 3rem 0;
    background-color: #000000;
    transform: translateY(150px);
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-height: 900px;
    max-width: 3500px;
}

.movie-title{
    font-size: 25px;
    color: rgb(235, 125, 0);
    font-family: var(--search-font);
}

.movie-poster  {
    max-width: 250px;
    max-height: 350px;
    margin-top: 20px;
    border: 4px solid white;
    margin-left: 30px;
}

.movie-info {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 2px;
    padding-bottom: 10px;
    max-width: 800px;
    margin-left: 30px;
    font-size: 20px;
    font-family: var(--search-font);
    margin-left: 40px;
    text-align: left;
    line-height: 2;
    overflow: scroll;
}

/* remember to merge with movie-info */
.history-container{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 2px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 300px;
    max-height: 500px;
    max-width: 300px;
    font-size: 20px;
    font-family: var(--search-font);
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    line-height: 2;
    overflow: scroll;
}

.history-title  {
    color:rgb(255, 230, 0);
}

.history-element div {
    padding: 0 10px 25px 10px;
    background-color: #270736;
    line-height: normal;
    /* border-top: 2px solid white; */
}

.history-search-title {
    border: 3px solid rgb(146, 146, 146);
    border-radius: 2px;
}

.clear-history-btn {
    padding: 3px 6px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--search-font);
    border: none;
    transition-duration: 0.2s;
    color: white;
    background-color: rgb(133, 2, 2);
}

.clear-history-btn:hover {
   color: rgb(133, 2, 2);
   background-color: white;
}


.rotten-tomatoes-rating {
    padding: 2px 4px;
    text-align: center;
    border-radius: 5px;
  }


.trailer {
    margin-left: 50px;
    border: none;
} 

#plot {
    line-height: normal;
}

#letter-m {
    color: red;
}

#letter-o {
    color: rgb(255, 230, 0);
}

#letter-v {
    color: rgb(89, 37, 209);
}

#letter-i {
    color: rgb(12, 219, 92);
}

#letter-e {
    color: rgb(0, 238, 255);
}

#letter-s {
    color: rgb(0, 26, 255);
}

input[type="text"]
{
    font-size:20px;
    letter-spacing: 2.5px;
}

.hide-list{
    display: none;
}

@keyframes scroll {
    0% {
       opacity: 1;    
       transform: rotate(45deg) translate(-10px, -10px);
       
    }
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    5% {
        opacity: 0.9;
    }
    10% {
        opacity: 0.85
    }
    15% {
        opacity: 0.95;
    }
    20% {
        opacity: 0.92;
    }
    25% {
        opacity: 0.9;
    }
    30% {
        opacity: 0.85;
    }
    35% {
        opacity: 0.95;
    }
    40% {
        opacity: 0.92;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0.9;
    }
    70% {
        opacity: 0.8;
    }
    80% {
        opacity: 0.93;
    }
    90% {
        opacity: 0.9
    }
    to {
        opacity: 1;
    }

}

@keyframes shine {
    0% {
      color: #24d83c;
      text-shadow: none;
    }
    25% {
        color:aqua;
        text-shadow: 2px 2px #a200ff;
    }
    55% {
        color:rgb(255, 230, 0);
        text-shadow: 2px 2px #00ff62;
    }

    65% {
        color: rgb(255, 115, 0);
        text-shadow: 2px 2px #0066ff;
    }

    100% {
      color: #ff5dff;
      text-shadow: 2px 2px #ff0000;
    }
  }

  @keyframes blink {
    0%,
    36%,
    75% {
      color: #16cf63;
      text-shadow: 0 0 8rem #9b52fa;
    }
    28%,
    33% {
      color: #ff65bd;
    }
    82%,
    97% {
      color: #ff2483;
    }
  }

  /* Responsive Design */
@media screen and (max-width:800px) {
    #intro-text-1{
        font-size: 1rem;
    }
    #intro-text-2{
        font-size: 1rem;
    }

    .arrow {
        display: none;
    }

    .search-element .search-input {
        max-width: 280px;
    
    }
}

@media screen and (min-width:1100px) {
    #intro-text-1{
        font-size: 3rem;
    }
    #intro-text-2{
        font-size: 3.5rem;
    }
}
